@model ML.Editorial
@{
    ViewData["Title"] = "Modal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Titulo</h1>


<div class="alert alert-@ViewBag.alert alert-dismissible" role="alert">
    @ViewBag.Message
</div>
<br />

<div>
    <a href="@Url.ActionLink("GetAll", "Autor")" class="btn btn-danger"><i class="bi bi-backspace-fill"></i>  Regresar</a>
</div>