
* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://st3.depositphotos.com/1269993/13160/i/450/depositphotos_131601504-stock-photo-brown-scratched-recycled-paper-texture.jpg");
    background-color: #e71212;
    display: grid;
    justify-content: center;
    align-content: center;
    /*justify-content: center;
    align-content: stretch;
    align-items: start;
    justify-items: stretch;*/
}

::-webkit-input-placeholder {
    color: #eee;
}

@media (min-width: 1200px) {
    .wrapper {
        background: #bf9a6c;
        position: relative;
        width: 900px;
        height: 65vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 3px solid #b79649;
        box-shadow: 10px 10px 20px 0 #bca100;
        /* 0 0 50px 0*/
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #bf9a6c;
}

.title {
    font-size: 35px;
    color: #fff;
}

.inp {
    padding-bottom: 5px;
    border-bottom: 2px solid #110101e0;
}

.input {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 30px;
    padding-right: 5px;
    font-size: 17px;
    color: #fff;
}

.submit {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    /*  letter-spacing: 1px; */
    cursor: pointer;
    background: linear-gradient(45deg, #000e00, #ff7000);
}

.footer {
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
}

.link {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .banner {
        position: absolute;
        top: 0;
        right: 0;
        width: 450px;
        height: 390px;
        background: linear-gradient(to right,#000, #ffa700 );
        clip-path: polygon(0 0,100% 0,100% 100%, 60% 100%);
        padding-right: 70px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}

.wel_text {
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
    color: #fff;
}

.para {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}
