@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Olvido la confirmación de contraseña"; //Forgot password confirmation
}

<br />
<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo electrónico para restablecer tu contraseña.
</p>
