@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}
<head>
    <link rel="stylesheet" href="~/css/login_style.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <form id="account" method="post" class="form">

            <h1 class="title"> @ViewData["Title"]</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="inp">
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="Correo" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="inp">
                <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Contraseña" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button class="submit" id="login-submit">Iniciar sesión</button>
            </div>
            <div>
                <h6>
                    <br />
                    <a class="link" id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a> <br />
                    <a class="link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como usuario nuevo</a> <br />
                    <a class="link" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación por correo electrónico</a>
                </h6>
            </div>
        </form>
        <div id="extension"></div>
        <form id="account" method="post" class="form">
            <div class="banner">
                <br /><br />
                <h1 class="wel_text">
                    Bienvenido
                </h1>
                <p class="para">
                    a la Biblioteca <img src="/Images/Logo.png" heigh="40px" width="35" alt=""></a>
                </p>
            </div>
        </form>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

